<h1>This is your home page with your available actions.</h1>

<div class="container text-center mt-5">
  <%= link_to "Browse Teachers", teachers_path, class: 'btn btn-dark btn-block'  %>
</div>


<div class="d-flex mt-4 justify-content-center" data-controller="counter">
  <div class="counter badge badge-dark">
    <h2 data-target="counter.count"><%= @teacher_count %></h2>
  </div>
</div>

